
#dropbox{
	min-height: 230px;
	overflow: hidden;
	position: relative;
	background: none repeat scroll 0 0 #F7F7F7;
    border-radius: 8px;
    box-shadow: 0 0 10px #C0C0C0 inset;
    text-align: center;
    text-shadow: 1px 1px 1px #D7D7D7, 1px 1px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.5s linear 0s;
	z-index: 2;
	border:1px solid #fff;
	margin: 60px 20px;
}
.text{
    font-size: 11px;
    text-align: center;
	font-size: 24px;
	color: #8F8F8F;
	margin-top: 7%;
}
.active{
	box-shadow: 0 0px 20px #818378 inset !important;
}
.eachImage {
    float: left;
    margin: 28px;
    position: relative;
    width: 205px;
    text-align: center;
	z-index: 10;
}
.preview{
    display: inline-block;
    position: relative;
}
.preview img{
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 2px #000000;
    display: block;
    max-height: 200px;
    max-width: 200px;
	box-shadow: 0px 0px 10px 1px #484848;
}
.overlay{
    background: rgba(255, 255, 255, 0.5);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay span{
	position: absolute;
	top: 35%;
	color: black;
	font-weight: bold;
}
.overlay .updone{
	position: relative;
    text-align: right;
    text-shadow: 1px 1px 1px #D7D7D7, 1px 1px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.5s linear 0s;
	font-size: 25px;
	text-align: right;
}
.progress{
	height: 8px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.progress span{
	border: 1px solid #125825;
	width: 0px;
	display: block;
	margin-top: 10px;
	text-align: right;
	height: 6px;
	   -webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	       -moz-border-radius-topright: 20px;
	    -moz-border-radius-bottomright: 20px;
	           border-top-right-radius: 20px;
	        border-bottom-right-radius: 20px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}